body {
    background-image:url(images/bgnattyfm.jpg);
    background-repeat:no-repeat;
    background-color:black;
    
}


#socialnetwork{
   float:right;
}

#portrait{
    margin-top:120px;
    padding-left:45px;
    
   
}

#portrait img{
    padding-left:65px;
    
   
}

#name{
    font-size:25px;
    padding-left:45px;
    width:365px;
    text-align:center;
    margin-top:-20px;
    color:#FFFFFF;
}
#player {
   margin: 0 auto;
   margin-top: 50px;
   width:300px;
   
}

#share {
   margin-top:20px;
   width:1170px;
   text-align:center;
}

.twitter-share-button {
   position:absolute;
   top:485px;
   left:655px;
}
