body {
    background-image:url(images/bgnattyfm.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:black;
    margin:0 auto;
    width:960px;
    height:503px;
}


#socialnetwork{
   float:right;
}

#portrait{
    margin-top:20px;
    padding-left:45px;
    
   
}
#name{
    font-size:25px;
    padding-left:45px;
    width:300px;
    text-align:center;
    margin-top:-20px;
    color:#FFFFFF;
}
#player {
   margin: 0 auto;
   margin-top: 50px;
   width:300px;
   
}

#share {
   margin-top:20px;
   width:960px;
   text-align:center;
}
